<div class="main-content">
  <!-- content area part -->
  <section class="caregivers-section register-frm thankyou">
    <div class="container">
      <div class="row">
        <div class="caregivers-inner col-md-12">
          <div class="left-block">
            <h2 class="text-center">{{ 'Thank you!' | translate }}</h2>
            <p class="text-center">
              <!-- {{ 'Thank you for registering with us!' | translate }} -->
              <br /> <br />
              {{ 'We will review your profile in 24 hours and will whatsapp and email you once your profile is in the platform!' | translate }}
              <br /> <br />
              {{'Please email or whatsapp the required documents (HKID, certificates and payslips) to'| translate}}
              <a href="mailto:info@purecare.com.hk">info@purecare.com.hk</a> {{'or'| translate}} <a
                href="tel:+85263640301">6364 0301</a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>