<div class="main-content">
  <!-- content area part -->
  <section class="faq-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ 'Frequently Asked Questions' | translate }}</h1>
          <div class="faq-main-block">
            <div class="line"></div>
            <div class="faq-main-inner">
              <div class="single-faq-block">
                <h4>{{ 'Why Pure Care' | translate }}</h4>
                <div data-aos-once="false" data-aos="fade-left" data-aos-offset="120">
                  <div class="single-faq right-faq">
                    <span class="number">1.</span>
                    <span class="circle"></span>
                    <div class="content-block">
                      <h3>{{ 'Why should I use Pure Care?' | translate }}</h3>
                      <p>
                        {{ 'Pure Care is the first online caregiver platform and are licensed by the Labour Department in Hong Kong.' | translate }}
                      </p>
                      <p>
                        {{ 'We provide authentic caregiver information and are impartial when it comes to displaying caregivers.' | translate }}
                      </p>
                      <ul>
                        <li>
                          <strong>{{ 'Verified -' | translate }}</strong>
                          {{ ' all caregiver information, including qualifications and work experience, on our platform is verified.' | translate }}
                        </li>
                        <li>
                          <strong>{{ 'Transparent -' | translate }}</strong>
                          {{ 'you see full background of caregivers with verified ratings and feedback.' | translate }}
                        </li>
                        <li>
                          <strong>{{ 'Instant -' | translate }}</strong>
                          {{ ' appointment can be confirmed as quickly as 2 hours.' | translate }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-faq-block">
                <h4>{{ 'Qualifications and Work Experience' | translate }}</h4>
                <div data-aos-once="false" data-aos="fade-right" data-aos-offset="120">
                  <div class="single-faq left-faq">
                    <span class="number">1.</span>
                    <span class="circle"></span>
                    <div class="content-block">
                      <h3>
                        {{ 'How do I know qualifications, work experience and ratings are all authentic on Pure Care?' | translate }}
                      </h3>
                      <p>
                        {{ 'Before their profiles are on Pure Care, we screen and vet all caregivers qualifications and work experience, employment contracts or payslips and licence (if any).' | translate}}
                      </p>
                      <p>
                        {{ 'Only clients who appoint the caregiver can provide ratings and feedback.' | translate }}
                      </p>
                    </div>
                  </div>
                </div>
                <div data-aos-once="false" data-aos="fade-left" data-aos-offset="120">
                  <div class="single-faq right-faq">
                    <span class="number">2.</span>
                    <span class="circle"></span>
                    <div class="content-block">
                      <h3>
                        {{ 'What is the caregiver’s qualification?' | translate }}
                      </h3>
                      <p>
                        {{ 'All caregivers on our platform must possess the following qualification(s):' | translate }}
                      </p>
                      <ul>
                        <li>
                          <strong>
                            {{ 'Registered Nurse or Enrolled Nurse' | translate }}
                          </strong>
                          <br />
                          <ul>
                            <li>
                              {{ '- A Certificate of Registration (Part I) (Registered Nurse)' | translate }}
                            </li>
                            <li>
                              {{ '- A Certificate of Enrolment (Part I) (Enrolled Nurse)' | translate }}
                            </li>
                            <li>
                              {{ '- A valid Practising Certificate issued by the Nursing Council of Hong Kong.'| translate}}
                            </li>
                          </ul>
                        </li>
                        <li>
                          <strong>{{ 'Health Worker' | translate }}</strong><br />
                          <ul>
                            <li>
                              {{ '- Health Worker Training Courses approved by the Director of Social Welfare' | translate }}
                            </li>
                          </ul>
                        </li>
                        <li>
                          <strong>{{ 'Personal Care Worker' | translate }}</strong><br />
                          <ul>
                            <li>
                              {{ '- Hold ‘Personal Care Worker’ or other relevant certificates by an accredited institution in Hong Kong' | translate }}
                            </li>
                          </ul>
                        </li>
                        <li>
                          <strong>{{ 'Out-Patient Escort Person' | translate }}</strong><br />
                          <ul>
                            <li>
                              {{ '- Hold ‘Out-Patient Escort’ or other relevant by an accredited institution in Hong Kong' | translate }}
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <p>
                        {{ 'If they have first-aid, Occupational Therapy or Physiotherapy Assistant Certificates, these would be shown in the education section.' | translate }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-faq-block">
                <h4>{{ 'Duties' | translate }}</h4>
                <div data-aos-once="false" data-aos="fade-right" data-aos-offset="120">
                  <div class="single-faq left-faq">
                    <span class="number">1.</span>
                    <span class="circle"></span>
                    <div class="content-block">
                      <h3>
                        {{ 'Can I ask the caregiver to do housework or cook?' | translate }}
                      </h3>
                      <p>
                        {{ 'For housework, this is not recommended so that the care receiver can receive 1-to-1 personal service.' | translate }}
                        <br />
                        {{ 'For cooking, the caregiver would be happy to reheat or make simple diets such as pureed diet.' | translate }}
                      </p>
                    </div>
                  </div>
                </div>
                <div data-aos-once="false" data-aos="fade-left" data-aos-offset="120">
                  <div class="single-faq right-faq">
                    <span class="number">2.</span>
                    <span class="circle"></span>
                    <div class="content-block">
                      <h3>
                        {{ 'Can I select a male caregiver?' | translate }}
                      </h3>
                      <p>
                        {{ 'Of course! The gender ( ♂ or ♀) is displayed in the caregiver profile.' | translate }}
                      </p>
                    </div>
                  </div>
                </div>
                <div data-aos-once="false" data-aos="fade-right" data-aos-offset="120">
                  <div class="single-faq left-faq">
                    <span class="number">3.</span>
                    <span class="circle"></span>
                    <div class="content-block">
                      <h3>
                        {{ 'Can the caregiver provide care that is out of the service scope?' | translate }}
                      </h3>
                      <p>
                        {{ 'You may fill in requests in ‘Is there anything that you would like the caregiver to know?’. You should, however, be mindful that only Registered or Enrolled Nurses can provide all services under special care.' | translate }}
                      </p>
                      <p>
                        <strong>
                          {{ 'Please do not ask caregivers to provide medical care that are not within their capabilities (e.g. asking health worker to change nasogastric / gastrostomy tube), as this would put the patient and the caregiver in unnecessary risks.' | translate }}
                        </strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-faq-block">
                <h4>{{ 'Payment' | translate }}</h4>
                <div data-aos-once="false" data-aos="fade-left" data-aos-offset="120">
                  <div class="single-faq right-faq">
                    <span class="number">1.</span>
                    <span class="circle"></span>
                    <div class="content-block">
                      <h3>{{ 'How do I pay?' | translate }}</h3>
                      <p>{{'1. Payme: 6364 0301 or'| translate}}</p>
                      <p>{{'2. FPS ID: 9890211 or' | translate}}</p>
                      <p>{{'3. Bank Transfer:' |translate}}
                        <br />
                        {{ 'Bank Name: China Citic Bank International Limited' | translate }}<br />
                        {{ 'Bank Code: 018' | translate }}<br />
                        {{ 'Account Number: 746-2-08153900' | translate }}<br />
                        {{ 'Account Name: Pure Care Hong Kong Limited' | translate }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>