<p>{{'Email address is already registered in the system.' | translate}}</p>
<p>{{'We have sent a link to your email address. Please don’t forget to check your junk mail folder.' | translate}}</p>
<p>{{'Caregiver registered successfully.' | translate}}</p>
<p>{{'Client registered successfully.' | translate}}</p>
<p>{{'Your Email has been confirmed' | translate}}</p>
<p>{{'Invalid confirmation link' | translate}}</p>
<p>{{'Email is already confirmed' | translate}}</p>
<p>{{'Your Password Updated Successfully' | translate}}</p>
<p>{{'Password reset link is sent to your email address if this is registered with us. Please don’t forget to check your junk mail folder.' | translate}}
</p>
<p>{{'Login successful.' | translate}}</p>
<p>{{'User not found' | translate}}</p>
<p>{{'Email ID is not registered with us.' | translate}}</p>
<p>{{'Please activate your account' | translate}}</p>
<p>{{'Password is incorrect' | translate}}</p>
<p>{{'Session expired' | translate}}</p>
<p>{{'Invalid reset password link' | translate}}</p>
<p>{{'You are not allowed to use this' | translate}}</p>
<p>{{'You are trying to pay more amount than due amount' | translate}}</p>
<p>{{'Wrong email address/password. Try again or click Forgot password to reset it.' | translate}}</p>
<p>{{'Booking not found' | translate}}</p>
<p>{{'Booking already' | translate}}</p>
<p>{{'caregivers not accepted your booking' | translate}}</p>
<p>{{'Booking already accepted by the caregiver' | translate}}</p>
<p>{{'You have already accepted this booking' | translate}}</p>
<p>{{'Booking already rejected by the caregiver' | translate}}</p>
<p>{{'You have already rejected this booking' | translate}}</p>
<p>{{'Sorry, you are already booked for this duration' | translate}}</p>
<p>{{'Booking for this service is not accepted by the caregiver yet' | translate}}</p>
<p>{{'In order to help the caregiver get prepared, please book at least 6 hours before the service starts!' | translate}}
</p>
<p>{{'Sorry, It\'s too late you can\'t accept this service request now!' | translate}}</p>
<p>{{'You cannot cancel this service as it is already confirmed.' | translate}}</p>
<p>{{'Caregiver payment updated successfully.' | translate}}</p>
<p>{{'Your appointment cancelled successfully.' | translate}}</p>
<p>{{'Caregiver not found' | translate}}</p>
<p>{{'Personal info added successfully' | translate}}</p>
<p>{{'Work experience and education added successfully' | translate}}</p>
<p>{{'Skillset added successfully' | translate}}</p>
<p>{{'Availability added successfully' | translate}}</p>
<p>{{'Conflict in availability hours' | translate}}</p>
<p>{{'Charges added successfully' | translate}}</p>
<p>{{'Email address does not exists in our system.' | translate}}</p>
<p>{{'Client not found' | translate}}</p>
<p>{{'Clientfeedback not found' | translate}}</p>
<p>{{'Account user info added successfully' | translate}}</p>
<p>{{'Care receiver info added successfully' | translate}}</p>
<p>{{'Care receiver background added successfully' | translate}}</p>
<p>{{'Care receiver medical history added successfully' | translate}}</p>
<p>{{'Please complete your profile before booking appointment' | translate}}</p>
<p>{{'Maximum open appointment limit has been reached' | translate}}</p>
<p>{{'Thank you for your valuable feedback' | translate}}</p>
<p>{{'You have already submited feedback for this booking service' | translate}}</p>
<p>{{'Something went wrong with sending email' | translate}}</p>
<p>{{'Mr' | translate}}</p>
<p>{{'Ms' | translate}}</p>
<p>{{'Normal' | translate}}</p>
<p>{{'Minced' | translate}}</p>
<p>{{'Pureed' | translate}}</p>
<p>{{'Normal Eyesight' | translate}}</p>
<p>{{'Partially visually impaired' | translate}}</p>
<p>{{'Complete visually impaired' | translate}}</p>
<p>{{'Normal' | translate}}</p>
<p>{{'Partially impaired' | translate}}</p>
<p>{{'Complete impaired' | translate}}</p>
<p>{{'No Lifting Required' | translate}}</p>
<p>{{'One Person Lifting Required' | translate}}</p>
<p>{{'Two People Lifting Required' | translate}}</p>
<p>{{'Lifting Devices Needed' | translate}}</p>
<p>{{'Cantonese' | translate}}</p>
<p>{{'Mandarin' | translate}}</p>
<p>{{'English' | translate}}</p>
<p>{{'Dialect' | translate}}</p>
<p>{{'Wear Pacemaker' | translate}}</p>
<p>{{'Hard to swallow' | translate}}</p>
<p>{{'Incontinence' | translate}}</p>
<p>{{'Drug Allergy - Please specify' | translate}}</p>
<p>{{'Violence' | translate}}</p>
<p>{{'Crouches' | translate}}</p>
<p>{{'Quadripods' | translate}}</p>
<p>{{'Walker' | translate}}</p>
<p>{{'Wheel Chair' | translate}}</p>
<p>{{'Bed_bound' | translate}}</p>
<p>{{'Registered Nurse' | translate}}</p>
<p>{{'Enrolled Nurse' | translate}}</p>
<p>{{'Health Worker' | translate}}</p>
<p>{{'Personal care worker' | translate}}</p>
<p>{{'Outpatient escort person' | translate}}</p>
<p>{{'Central and Western (Hong Kong Island)' | translate}}</p>
<p>{{'Eastern (Hong Kong Island)' | translate}}</p>
<p>{{'Southern (Hong Kong Island)' | translate}}</p>
<p>{{'Wan Chai (Hong Kong Island)' | translate}}</p>
<p>{{'Sham Shu Po (Kowloon)' | translate}}</p>
<p>{{'Kowloon City (Kowloon)' | translate}}</p>
<p>{{'Kwun Tong (Kowloon)' | translate}}</p>
<p>{{'Wong Tai Sin (Kowloon)' | translate}}</p>
<p>{{'Yau Tsim Mong (Kowloon)' | translate}}</p>
<p>{{'Islands (New Territories)' | translate}}</p>
<p>{{'Kwai Tsing (New Territories)' | translate}}</p>
<p>{{'North (New Territories)' | translate}}</p>
<p>{{'Sai Kung (New Territories)' | translate}}</p>
<p>{{'Sha Tin (New Territories)' | translate}}</p>
<p>{{'Tai Po (New Territories)' | translate}}</p>
<p>{{'Tsuen Wan (New Territories)' | translate}}</p>
<p>{{'Tuen Mun (New Territories)' | translate}}</p>
<p>{{'Yuen Long (New Territories)' | translate}}</p>


<p>{{'Accompany to Walk Around / Do Mild Exercise' | translate}}</p>
<p>{{'Lifting' | translate}}</p>
<p>{{'Bathing' | translate}}</p>
<p>{{'Toileting / Change Diaper / Clean Up Excertion' | translate}}</p>
<p>{{'Feeding (Non-tube feeding)' | translate}}</p>
<p>{{'Feed Medicine' | translate}}</p>
<p>{{'Measure Weight / Blood Pressure / Body Temperature' | translate}}</p>
<p>{{'Oral Care' | translate}}</p>
<p>{{'Measure Blood glucose / Cholestrol / Triglyceride' | translate}}</p>
<p>{{'Insulin injection' | translate}}</p>
<p>{{'Injection* (Intramuscular / Intravenous)' | translate}}</p>


<p>{{'Oxygen Therapy' | translate}}</p>
<p>{{'Change Urine Bags / Fecal Bags' | translate}}</p>
<p>{{'Stoma Care' | translate}}</p>
<p>{{'Nasogastric Tube Feeding' | translate}}</p>
<p>{{'PEG Feeding / Gauze and Tape Dressing' | translate}}</p>
<p>{{'Peritoneal Dialysis / Catheter (Soft Tube) Care' | translate}}</p>
<p>{{'Wound Care' | translate}}</p>
<p>{{'Memory Training / Cognitive Training / Behavioural Treatment' | translate}}</p>
<p>{{'Tracheostomy Care*' | translate}}</p>
<p>{{'Change Foley Catheter*' | translate}}</p>
<p>{{'Change SPC (Supra-pubic Catheter)*' | translate}}</p>
<p>{{'Change Nasogastric / Gastrostomy Tube*' | translate}}</p>
<p>{{'Sputum Suction*' | translate}}</p>
<p>{{'Use Ventilator*' |translate}}</p>

<p>{{'No help needed' | translate}}</p>
<p>{{'Need help' | translate}}</p>
<p>{{'Use commode chair' | translate}}</p>
<p>{{'Use potty' | translate}}</p>
<p>{{'Need to change diapers' | translate}}</p>
<p>{{'Need to change foley catheter' | translate}}</p>
<p>{{'No help needed' | translate}}</p>
<p>{{'Need help' | translate}}</p>
<p>{{'Use bath chair' | translate}}</p>


<p>{{'Asthma' | translate}}</p>
<p>{{'Cancer' | translate}}</p>
<p>{{'Dementia other than Alzheimer’s Disease' | translate}}</p>
<p>{{'Diabetes' | translate}}</p>
<p>{{'Epilepsy' | translate}}</p>
<p>{{'Fracture' | translate}}</p>
<p>{{'Wrist' | translate}}</p>
<p>{{'Finger' | translate}}</p>
<p>{{'Upper Arm' | translate}}</p>
<p>{{'Lower Arm' | translate}}</p>
<p>{{'Lower Body' | translate}}</p>
<p>{{'Feet' | translate}}</p>
<p>{{'Others' | translate}}</p>
<p>{{'Gout' | translate}}</p>
<p>{{'Heart Failure' | translate}}</p>
<p>{{'Hepatitis' | translate}}</p>
<p>{{'Type A' | translate}}</p>
<p>{{'Type B' | translate}}</p>
<p>{{'Type C' | translate}}</p>
<p>{{'Do not know' | translate}}</p>
<p>{{'Parkinsonism' | translate}}</p>
<p>{{'Stroke' | translate}}</p>
<p>{{'Scabies' | translate}}</p>
<p>{{'Total Knee Replacement' | translate}}</p>

<p>{{'Asthma' | translate}}</p>
<p>{{'Cancer' | translate}}</p>
<p>{{'Dementia other than Alzheimer’s Disease' | translate}}</p>
<p>{{'Diabetes' | translate}}</p>
<p>{{'Epilepsy' | translate}}</p>
<p>{{'Fracture' | translate}}</p>
<p>{{'Wrist' | translate}}</p>
<p>{{'Finger' | translate}}</p>
<p>{{'Upper Arm' | translate}}</p>
<p>{{'Lower Arm' | translate}}</p>
<p>{{'Lower Body' | translate}}</p>
<p>{{'Feet' | translate}}</p>
<p>{{'Others' | translate}}</p>
<p>{{'Gout' | translate}}</p>
<p>{{'Heart Failure' | translate}}</p>
<p>{{'Hepatitis' | translate}}</p>
<p>{{'Type A' | translate}}</p>
<p>{{'Type B' | translate}}</p>
<p>{{'Type C' | translate}}</p>
<p>{{'Do not know' | translate}}</p>
<p>{{'Parkinsonism' | translate}}</p>
<p>{{'Stroke' | translate}}</p>
<p>{{'Scabies' | translate}}</p>
<p>{{'Total Knee Replacement' | translate}}</p>

<p>{{'Hong Kong Island' | translate}}</p>
<p>{{'Central and Western' | translate}}</p>
<p>{{'Eastern' | translate}}</p>
<p>{{'Southern' | translate}}</p>
<p>{{'Wan Chai' | translate}}</p>
<p>{{'Kowloon' | translate}}</p>
<p>{{'Sham Shu Po' | translate}}</p>
<p>{{'Kowloon City' | translate}}</p>
<p>{{'Kwun Tong' | translate}}</p>
<p>{{'Wong Tai Sin' | translate}}</p>
<p>{{'Yau Tsim Mong' | translate}}</p>
<p>{{'New Territories' | translate}}</p>
<p>{{'Islands' | translate}}</p>
<p>{{'Kwai Tsing' | translate}}</p>
<p>{{'North' | translate}}</p>
<p>{{'Sai Kung' | translate}}</p>
<p>{{'Sha Tin' | translate}}</p>
<p>{{'Tai Po' | translate}}</p>
<p>{{'Tsuen Wan' | translate}}</p>
<p>{{'Tuen Mun' | translate}}</p>
<p>{{'Yuen Long' | translate}}</p>

<p>{{'Toileting' | translate}}</p>
<p>{{'No help needed' | translate}}</p>
<p>{{'Need help' | translate}}</p>
<p>{{'Toileting Equipment' | translate}}</p>
<p>{{'Use commode chair' | translate}}</p>
<p>{{'Use potty' | translate}}</p>
<p>{{'Need to change diapers' | translate}}</p>
<p>{{'Need to change foley catheter' | translate}}</p>
<p>{{'Shower' | translate}}</p>
<p>{{'No help needed' | translate}}</p>
<p>{{'Need help' | translate}}</p>
<p>{{'Use bath chair' | translate}}</p>

<p>{{'Accompany to Walk Around / Do Mild Exercise' | translate}}</p>
<p>{{'Lifting' | translate}}</p>
<p>{{'Bathing' | translate}}</p>
<p>{{'Toileting / Change Diaper / Clean Up Excertion' | translate}}</p>
<p>{{'Feeding (Non-tube feeding)' | translate}}</p>
<p>{{'Feed Medicine' | translate}}</p>
<p>{{'Measure Weight / Blood Pressure / Body Temperature' | translate}}</p>
<p>{{'Measure Blood glucose / Cholestrol / Triglyceride' | translate}}</p>
<p>{{'Insulin injection' | translate}}</p>
<p>{{'Injection* (Intramuscular / Intravenous)' | translate}}</p>
<p>{{'Oxygen Therapy' | translate}}</p>
<p>{{'Change Urine Bags / Fecal Bags' | translate}}</p>
<p>{{'Stoma Care' | translate}}</p>
<p>{{'Nasogastric Tube Feeding' | translate}}</p>
<p>{{'PEG Feeding / Gauze and Tape Dressing' | translate}}</p>
<p>{{'Peritoneal Dialysis / Catheter (Soft Tube) Care' | translate}}</p>
<p>{{'Memory Training / Cognitive Training / Behavioural Treatment' | translate}}</p>
<p>{{'Tracheostomy Care*' | translate}}</p>
<p>{{'Change Foley Catheter*' | translate}}</p>
<p>{{'Change SPC (Supra-pubic Catheter)*' | translate}}</p>
<p>{{'Change Nasogastric / Gastrostomy Tube*' | translate}}</p>
<p>{{'Sputum Suction*' | translate}}</p>
<p>{{'Use Ventilator*' | translate}}</p>
<p>{{'Accompany to Walk Around / Do Mild Exercise' | translate}}</p>
<p>{{'Lifting' | translate}}</p>
<p>{{'Bathing' | translate}}</p>
<p>{{'Toileting / Change Diapers / Clean Up Excretion' | translate}}</p>
<p>{{'Feeding (Non-tube feeding)' | translate}}</p>
<p>{{'Feed Medicine' | translate}}</p>
<p>{{'Measure Weight / Blood Pressure / Body Temperature' | translate}}</p>
<p>{{'Measure Blood glucose / Cholesterol / Triglyceride' | translate}}</p>
<p>{{'Insulin Injection' | translate}}</p>
<p>{{'Oxygen Therapy' | translate}}</p>
<p>{{'Change Urine Bags / Fecal Bags' | translate}}</p>
<p>{{'Stoma Care' | translate}}</p>
<p>{{'Nasogastric Tube Feeding' | translate}}</p>
<p>{{'PEG Feeding / Gauze and Tape Dressing' | translate}}</p>
<p>{{'Peritoneal Dialysis / Catheter (Soft Tube) Care' | translate}}</p>
<p>{{'Memory Training / Cognitive Training / Behavioural Treatment' | translate}}</p>
<p>{{'Accompany to Walk Around / Do Mild Exercise' | translate}}</p>
<p>{{'Toileting / Change Diapers / Clean Up Excretion' | translate}}</p>
<p>{{'Feeding (Non-tube feeding)' | translate}}</p>
<p>{{'Feed Medicine' | translate}}</p>
<p>{{'Measure Weight / Blood Pressure / Body Temperature' | translate}}</p>
<p>{{'Oxygen Therapy' | translate}}</p>
<p>{{'Accompany to Walk Around / Do Mild Exercise' | translate}}</p>
<p>{{'Accompany to see Doctor / Pick up at Home / Lend an Arm / Registration / Booking / Collect Medicine' | translate}}
</p>
<p>{{'None' | translate}}</p>
<p>{{'between' | translate}}</p>
<p>{{'and' | translate}}</p>
<p>{{'hour(s)' | translate}}</p>
<p>{{'Dialect' | translate}}</p>
<p>{{'Cancer' | translate}}</p>
<p>{{'Others' | translate}}</p>
<p>{{'Drug Allergy' | translate}}</p>
<p>{{'Floor Number' | translate}}</p>
<p>{{'Flat Number' | translate}}</p>
<p>{{'Shower' | translate}}</p>

<p>{{'Sunday' | translate}}</p>
<p>{{'Monday' | translate}}</p>
<p>{{'Tuesday' | translate}}</p>
<p>{{'Wednesday' | translate}}</p>
<p>{{'Thursday' | translate}}</p>
<p>{{'Friday' | translate}}</p>
<p>{{'Saturday' | translate}}</p>



<p>{{'January' | translate}}</p>
<p>{{'February' | translate}}</p>
<p>{{'March' | translate}}</p>
<p>{{'April' | translate}}</p>
<p>{{'May' | translate}}</p>
<p>{{'June' | translate}}</p>
<p>{{'July' | translate}}</p>
<p>{{'August' | translate}}</p>
<p>{{'September' | translate}}</p>
<p>{{'October' | translate}}</p>
<p>{{'November' | translate}}</p>
<p>{{'December' | translate}}</p>


<p>{{ 'Invalid email address' | translate }}</p>
<p>{{ 'Invalid password. Password must be 6 characters long, at least 1 capital letter, 1 small letter and 1 numeric character' | translate }}
</p>
<p>{{ 'Minimum length' | translate }}</p>
<p>{{ 'Maximum length' | translate }}</p>
<p>{{ 'Password does not match' | translate }}</p>
<p>{{ 'Invalid website url' | translate }}</p>
<p>{{ 'is Invalid' | translate }}</p>
<p>{{ 'Please enter valid number' | translate }}</p>
<p>{{ 'Please enter hour between 1 to 12' | translate }}</p>
<p>{{ 'Whitespaces are not allowed' | translate }}</p>
<p>{{ 'Only 50 words are allowed' | translate }}</p>
<p>{{ 'Only Characters are allowed' | translate }}</p>
<p>{{ 'Invalid height' | translate }}</p>
<p>{{ 'If you need an Out-patient escort, please tell us' | translate }}</p>
<p>{{ 'Invalid mobile number' | translate }}</p>
<p>{{ 'There are no completed appointments' | translate} }.</p>
<p>{{ 'There are no cancelled appointments' | translate} }.</p>
<p>{{ 'There are no confirmed appointments' | translate} }.</p>
<p>{{ 'There are no pending appointments' | translate} }.</p>
<p>{{ 'To be paid' | translate }}</p>
<p>{{ 'Admin' | translate }}</p>
<p>{{ 'Cancelled by Admin' | translate }}</p>
<p>{{ 'Cancelled by Caregiver' | translate }}</p>
<p>{{ 'Cancelled by Client' | translate }}</p>
<p>{{ 'Status' | translate }}</p>

<!--############### Front End Constants ##########-->

{{'Application Received Message' | translate}}
{{'Status Message' | translate}}
{{'Service Completed Message' | translate}}
{{'Success!'| translate}}>
{{'Error!'| translate}}
{{'Info!'| translate}}
{{'Result not found!' | translate}}
{{'Not allowed to access!' | translate}}
{{'Feild should not be empty!' | translate}}
{{'Name is required.' | translate}}
{{'Field is required.' | translate}}
{{'Unfortunately, this address wasn\'t found. Please double-check it and try again.' | translate}}
{{'Length must be less then or equal to 150.' | translate}}
{{'Length must be less then or equal to' | translate}}
{{'Must be valid email.' | translate}}
{{'Access code must be at least 6 characters long.' | translate}}
{{'Updated Successfully.' | translate}}
{{'All boxes numeric required.' | translate}}
{{'Service ID must be 10 characters long.' | translate}}
{{'Start Date of First PP cannot be less than the Service Loaded Date.' | translate}}
{{'Please save changes before switching to other service otherwise all changs will be discarded.' | translate}}
{{'Service must contain not more than 10 PPs.' | translate }}
{{'Please write input for single hour rate' | translate}}
{{'Please select a payment method' | translate }}
{{'Please select a payment method' | translate }}
{{'Please enter Start Time' | translate }}
{{'Maximum service allowed for 12 hours only.'| translate}}
{{'End time should be larger than From time' | translate}}
{{'Please enter Transport subsidy amount' | translate}}
{{'Please select services to book caregiver' | translate }}
{{'Please select date to book caregiver' | translate }}
{{'Please select Start and End time to book caregiver' | translate }}
{{'From time should be smaller than To Time' | translate }}
{{'Please select up to 3 Caregivers' | translate }}
{{'Please complete onboarding steps to book caregiver' | translate }}
{{'Please login to book caregiver' | translate }}
{{'Please choose rating' | translate }}
{{'Please select at least 1 language' | translate }}
{{'Please select at least 1 self-care ability' | translate }}
{{'Something went wrong, Please try again.' | translate }}
{{'Please Login to continue.' | translate }}
{{'Please specify your cancer.' | translate }}
{{'Please specify your fracture.' | translate }}
{{'Please select atleast one option from fracture.' | translate }}
{{'Please select atleast one option from hepatitis.' | translate }}
{{'Maximum 5 locations are allowed.' | translate }}
{{'Please select at least one location.' | translate }}
{{'Please check your internet connection.' | translate }}
{{'Connected to internet! You are online' | translate }}
{{'Please enter time between 1 to 12' | translate }}
{{'Seems like other caregiver has logged in , please logout and login with your details for accepting the booking.' | translate}}
{{'In order to help the caregiver get prepared, please book at least 6 hours before the service starts!' | translate}}
{{'Please enter start and end time' | translate }}
{{'Please enter transport subsidy amount between 1 and 500' | translate}}
{{'This user is no longer available in the system' | translate}}
{{'Please select To Day value greter then From Day value' | translate }}
{{'Please select future date and time to book caregiver.' | translate}}
{{'Please select any one payment method.' | translate}}
{{'Please select atleast one skill.' | translate }}
{{'Work experience is overlapping.' | translate }}
{{'From date should be Smaller then To Date' | translate }}
{{'Please select From & To Dates' | translate }}
{{'From Year should be Smaller then To Year' | translate }}
{{'Please select From & To Years' | translate }}
{{'Please select Month & Year' | translate }}
{{'Please select proper dates' | translate }}
{{'Please Fill all the fileds' | translate }}
{{'Name of Hospital/Company is required' | translate }}
{{'Work Type is required' | translate }}
{{'Month is required' | translate }}
{{'Year is required' | translate }}
{{'Please book appointment on an hourly basis.' | translate}}


{{'Name of Institution is required' | translate}}
{{'Degree/Programme is required' | translate}}
{{'Start Year is required' | translate}}
{{'End Year is required' | translate}}
{{'Hate It' | translate}}
{{'Don\'t Like It' | translate}}
{{'Ok' | translate}}
{{'Like It' | translate}}
{{'Love It' | translate}}

<!-- About Us -->
{{ 'Pure Care was founded on a simple belief — Live better. We believe that everyone deserves a better quality of life regardless of age or health.' | translate }}
{{ 'We have created a platform to share information of elderly caring, healthy exercise, appropriate training and balanced diet.' | translate }}
{{ 'Pure Care believes that the challenges of taking care of those in need can be addressed with the right methods and tools.' | translate }}

<!-- Caregiver Type -->
{{ 'Nurses' | translate }}
{{ 'RN' | translate }}
{{ 'EN' | translate }}
{{ 'Support' | translate }}
{{ 'HW' | translate }}
{{ 'PCW' | translate }}
{{ 'Out-Patient Escort' | translate }}
{{ 'Measure Blood glucose' | translate }}