<div class="main-content">
  <!-- content area part -->
  <section class="service-desc-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-blocks">
            <h1>{{ 'Services Description' | translate }}</h1>
            <p>
              {{
                'We know some medical terms may be confusing. Don’t worry, let us walk you through and explain what they mean.'
                  | translate
              }}
            </p>
          </div>
          <div class="service-inner">
            <div class="single-desc-block">
              <h3>
                <img src="assets/images/blue-check-icon.svg" alt=" " />{{
                  'Triglyceride' | translate
                }}
              </h3>
              <div class="single-main-block">
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '1.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'What is it?' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{ 'A form of fat produced in the body.' | translate }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '2.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'Patients:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'People with heart disease and / or diabetes are often found with high levels of triglyceride.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">3.</span>
                    <span class="circle"></span>
                    <h4>{{ 'Causes:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Overweight or obese, lack of exercise, smoking, excessive drinking, and carbohydrate accounts for a very high proportion in diets (60% or above of total calories).'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
              </div>
              <small
                >{{ 'Source:' | translate }}
                <a href="#">{{
                  'The Nethersole School of Nursing, Chinese University of Hong Kong'
                    | translate
                }}</a>
                {{ '(Chinese only)' | translate }}</small
              >
            </div>
            <div class="single-desc-block">
              <h3>
                <img src="assets/images/blue-check-icon.svg" alt=" " />{{
                  'Stoma' | translate
                }}
              </h3>
              <div class="single-main-block">
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '1.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'What is it?' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'After removing parts of the colon or rectum from surgery, stoma is an artificial opening created to release fasces or urine from the intestine or urethra.'
                          | translate
                      }}
                    </p>
                    <p>
                      {{
                        'Given that the patient cannot control excretion, it is necessary to place an ostomy bag on the stoma in order to collect excretion.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">2.</span>
                    <span class="circle"></span>
                    <h4>{{ 'Users:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Commonly in patients with colorectal cancer.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">3.</span>
                    <span class="circle"></span>
                    <h4>{{ 'Causes:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Common in patients who have a malignant tumor in rectum or anus; the rectum, anus, and sphincter have to be removed as a result.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
              </div>
              <small
                >{{ 'Source:' | translate }}
                <a href="#">{{ 'Hospital Authority' | translate }}</a>
                {{ '(Chinese only), ' | translate
                }}<a href="#">{{
                  'Hong Kong Stoma Association' | translate
                }}</a>
                {{ '(Chinese only) and' | translate }}
                <a href="#">{{ 'Colopast' | translate }}</a></small
              >
            </div>
            <div class="single-desc-block">
              <h3>
                <img src="assets/images/blue-check-icon.svg" alt=" " />{{
                  'Nasogastric Tube Feeding' | translate
                }}
              </h3>
              <div class="single-main-block">
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '1.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'What is it?' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Tube filled with liquid diet to provide calories, nutrition and medicine to the patient.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '2.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'Users:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Commonly used in patients with stroke and nasopharyngeal cancer.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '3.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'Causes:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Unable to eat or have swallow difficulties or have specific gastrointestinal disorders.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
              </div>
              <small
                >{{ 'Source:' | translate }}
                <a href="#">{{ 'Department of Health' | translate }}</a></small
              >
            </div>
            <div class="single-desc-block">
              <h3>
                <img src="assets/images/blue-check-icon.svg" alt=" " />{{
                  'PEG feeding' | translate
                }}
              </h3>
              <div class="single-main-block">
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '1.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'What is it?' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'A gastrostomy is a procedure to create an artificial stoma on the stomach and abdominal wall, allowing the gastrostomy tube to be inserted directly into the stomach through the abdominal wall. The tube can then transport fluid directly to the stomach through nose and gullet.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '2.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'Users:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Commonly used in patients with stroke and nasopharyngeal cancer.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '3.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'Causes:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Unable to eat or have swallow difficulties or have specific gastrointestinal disorders.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
              </div>
              <small
                >{{ 'Source:' | translate }}
                <a href="#">{{ 'Hospital Authority' | translate }}</a>
                {{ '(Chinese only)' | translate }}</small
              >
            </div>
            <div class="single-desc-block">
              <h3>
                <img src="assets/images/blue-check-icon.svg" alt=" " />{{
                  'Pressure Sore Care' | translate
                }}
              </h3>
              <div class="single-main-block">
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '1.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'What is it?' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'An ulcerated area of skin over bony prominences.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '2.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'Patients:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Chronically ill and bedridden. Urinary or faecal incontinent. Overweight or underweight'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '3.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'Causes:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Parts of the body are under continuous pressure, blood supply to that area is hindered and a pressure sore develop as a consequence.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
              </div>
              <small
                >{{ 'Source:' | translate }}
                <a href="#">{{ 'Department of Health' | translate }}</a></small
              >
            </div>
            <div class="single-desc-block">
              <h3>
                <img src="assets/images/blue-check-icon.svg" alt=" " />{{
                  'Oxygen therapy' | translate
                }}
              </h3>
              <div class="single-main-block">
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '1.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'What is it?' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Provide extra oxygen to reduce heart load. It reduces discomfort and out of breadth caused by lack of oxygen, thereby helping to improve mobility, reduce number of hospital admission, and live longer.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '2.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'Users:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Commonly for patients with chronic obstructive pulmonary disease (COPD)'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
              </div>
              <small
                >{{ 'Source:' | translate }}
                <a href="#">{{ 'Hospital Authority' | translate }}</a></small
              >
            </div>
            <div class="single-desc-block">
              <h3>
                <img src="assets/images/blue-check-icon.svg" alt=" " />{{
                  'Memory Training / Cognitive Training / Behavourial Therapy'
                    | translate
                }}
              </h3>
              <div class="single-main-block">
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '1.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'What is it?' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <ul>
                      <li>
                        {{
                          'Memory training: Activities such as recall and recitation to improve memory.'
                            | translate
                        }}
                      </li>
                      <li>
                        {{
                          'Cognitive training: Activities such as reading newspapers and playing games to improve concentration, memory and problem solving skills.'
                            | translate
                        }}
                      </li>
                      <li>
                        {{
                          'Behavourial Therapy: Activities such as understanding the causes of negative thoughts and providing positive comments to help people with depression.'
                            | translate
                        }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '2.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'Users:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Commonly used with patients with brain degeneration (such as Alzheimer’s disease) and depression.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
              </div>
              <small
                >{{ 'Source:' | translate }}
                <a href="#">{{
                  'The Nethersole School of Nursing, Chinese University of Hong Kong'
                    | translate
                }}</a>
                {{ '(Chinese only),' | translate }}
                <a href="#">{{ 'Department of Health' | translate }}</a
                >{{ ' and' | translate }}
                <a href="#">{{
                  'The Hong Kong Council of Social Service' | translate
                }}</a>
                {{ '(Chinese only)' | translate }}</small
              >
            </div>
            <div class="single-desc-block">
              <h3>
                <img src="assets/images/blue-check-icon.svg" alt=" " />{{
                  'Change SPC (Supra-pubic Catheter)' | translate
                }}
              </h3>
              <div class="single-main-block">
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '1.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'What is it?' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Insert the catheter into the bladder to allow urine to flow into the urine bag.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="single-block">
                  <div class="top-block">
                    <span class="number">{{ '2.' | translate }}</span>
                    <span class="circle"></span>
                    <h4>{{ 'Users:' | translate }}</h4>
                  </div>
                  <div class="content-block">
                    <p>
                      {{
                        'Commonly used for patients with urinary incontinence, spinal injuries and lower paralysis.'
                          | translate
                      }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
