<div id="panel-E" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="terms">
  <div class="card-header" role="tab" id="heading-E">
    <h5 class="mb-0">
      <a class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-E">
        {{ 'Agreement and Terms and Condition' | translate }}
      </a>
    </h5>
  </div>
  <div id="collapse-E" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-E">
    <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()">
      <div class="single-wizard">
        <div class="wizard-form">
          <div class="title-block">
            <h5>
              {{ 'Have questions about this form? Please whatsapp' | translate }}
              <a href="tel:+85263640301">{{ '6364 0301' | translate }}</a>
              {{ 'and let us help you!' | translate }}
            </h5>
            <h4>{{ 'Step 5' | translate }}</h4>
            <h3>
              {{ 'Agreement and Terms and Condition' | translate }}
            </h3>
            <p>
              {{ 'All info given to us is strictly confidential and is only used for registration purposes.' | translate }}
            </p>
          </div>
          <div class="terms-blocks">

            <app-tnc-en *ngIf="globalService.currentLanguage === 'en'"></app-tnc-en>

            <app-tnc-ch *ngIf="globalService.currentLanguage === 'zh'"></app-tnc-ch>

            <div class="form-blocks">
              <div class="single-form-block">
                <div class="single-block">
                  <div class="form-group">
                    <label>
                      {{ 'Account User HKID Full Name' | translate }}
                    </label>
                    <input type="text" class="form-control" formControlName="hkid_name" />
                    <app-control-message fieldName="{{ 'HKID Name' | translate }}"
                      [control]="regularForm.controls['hkid_name']">
                    </app-control-message>
                  </div>
                  <div class="form-group date">
                    <label>{{ 'Date' | translate }}</label>
                    <input type="text" class="form-control" formControlName="tnc_accepted_date" readonly />
                    <app-control-message fieldName="{{ 'Date' | translate }}"
                      [control]="regularForm.controls['tnc_accepted_date']">
                    </app-control-message>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-block">
            <button type="submit">
              {{ 'Submit' | translate }}
              <img src="assets/images/hand-icon.svg" alt=" " />
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>