<div class="main-content">
  <!-- content area part -->
  <section class="caregivers-section register-frm">
    <div class="container">
      <div class="row">
        <div class="caregivers-inner col-md-6" *ngIf="!showForgotPasswordSuccess">
          <div class="left-block">
            <h2 class="text-center">{{ 'Forgot password' | translate }}</h2>
            <p class="text-center">
              {{
                'Enter the email address to receive reset password link.'
                  | translate
              }}
            </p>
            <div class="reg-frm">
              <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                <div class="form-group" [ngClass]="{
                    'error-msg':
                      (email.dirty || email.touched) && email.errors
                  }">
                  <label for="email">{{ 'Email Address' | translate }}</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="abc@gmail.com"
                    id="email" autocomplete="off" />
                  <app-control-message fieldName="{{'Email Address' | translate}}"
                    [control]="forgotPasswordForm.controls['email']">
                  </app-control-message>
                </div>
                <button type="submit" class="btn btn-primary">
                  {{ 'Send reset link' | translate }}
                </button>
                <div class=" form-group">
                  <p class="text-center">
                    {{ 'Back to' | translate }}
                    <a href="javascript:void(0);" (click)="backToLogin()">
                      {{ 'LOGIN' | translate }}</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="caregivers-inner col-md-6" *ngIf="showForgotPasswordSuccess">
          <div class="left-block">
            <h2 class="text-center">{{ 'Forgot password?' | translate }}</h2>
            <p class="text-center">
              {{
                'Password reset link is sent to your email address if this is registered with us. Please don’t forget to check your junk mail folder.'
                  | translate
              }}
            </p>
            <div class="reg-frm">
              <p class="text-center">
                {{ 'Did not get the link?' | translate }}
                <a href="javascript:void(0);" (click)="sendMailAgain()">{{
                  'SEND AGAIN' | translate
                }}</a>
              </p>
            </div>
          </div>
        </div>
        <div class="right-image forgot-password"></div>
      </div>
    </div>
  </section>
</div>