<div class="main-content">
  <!-- content area part -->
  <section class="chnage-pw-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="chnage-pw-inner">
            <h1>{{ 'Change Password' | translate }}</h1>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
              <div class=" form-group" [ngClass]="{
                  'error-msg':
                    (oldPassword.dirty || oldPassword.touched) &&
                    oldPassword.errors
                }">
                <label for="oldPassword">{{'Old Password' | translate}}</label>
                <input type="password" formControlName="oldPassword" class="form-control" placeholder="******"
                  id="oldPassword" autocomplete="off" />
                <app-control-message style="text-align:center; width:100%" fieldName="{{'Old Password' | translate}}"
                  [control]="changePasswordForm.controls['oldPassword']">
                </app-control-message>
              </div>
              <div class="form-group" [ngClass]="{
                  'error-msg':
                    (password.dirty || password.touched) && password.errors
                }">
                <label for="password">{{ 'New Password' | translate }}
                  <span *ngIf="score != 0">{{ 'Strength:' | translate }}
                    <span *ngIf="score == 1" class="weak">{{
                      'Weak' | translate
                    }}</span>
                    <span *ngIf="score == 2" class="average">{{
                      'Average' | translate
                    }}</span>
                    <span *ngIf="score >= 3" class="strong">{{
                      'Strong' | translate
                    }}</span>
                  </span>
                </label>
                <input type="password" (keyup)="passwordStrength($event)" formControlName="password"
                  class="form-control" placeholder="******" id="password" autocomplete="off" />
                <app-control-message style="text-align:center; width:100%" fieldName="{{ 'New Password' | translate }}"
                  [control]="changePasswordForm.controls['password']">
                </app-control-message>
              </div>
              <div class="form-group" [ngClass]="{
                  'error-msg':
                    (cnfmpassword.dirty || cnfmpassword.touched) &&
                    cnfmpassword.errors
                }">
                <label for="cnfmpassword">{{
                  'Confirm New Password' | translate
                }}</label>

                <input type="password" class="form-control" placeholder="******" id="cnfmpassword"
                  formControlName="cnfmpassword" autocomplete="off" />
                <app-control-message style="text-align:center; width:100%" fieldName="{{
                  'Confirm New Password' | translate
                }}"
                  [control]="changePasswordForm.controls['cnfmpassword']">
                </app-control-message>
              </div>
              <button type="Submit">
                {{'Submit' | translate}} <img src="assets/images/hand-icon.svg" alt=" " />
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>