<div class="main-content">
  <!-- content area part -->
  <section class="caregivers-section register-frm">
    <div class="container">
      <div class="row">
        <div class="caregivers-inner col-md-6" *ngIf="!showResetSuccess">
          <div class="left-block">
            <h2 class="text-center">{{ 'Reset your password' | translate }}</h2>
            <div class="reg-frm">
              <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <div class="form-group" [ngClass]="{
                    'error-msg':
                      (password.dirty || password.touched) && password.errors
                  }">
                  <label for="email">{{ 'New Password' | translate }}
                    <span *ngIf="score != 0">{{ 'Strength:' | translate }}
                      <span *ngIf="score == 1" class="weak">
                        {{ 'Weak' | translate }}
                      </span>
                      <span *ngIf="score == 2" class="average">
                        {{ 'Average' | translate }}
                      </span>
                      <span *ngIf="score >= 3" class="strong">
                        {{ 'Strong' | translate }}
                      </span>
                    </span>
                  </label>
                  <input type="{{ passType }}" (keyup)="passwordStrength($event)" class="form-control"
                    placeholder="******" id="pwd" formControlName="password" autocomplete="off" />
                  <a href="javascript:void(0);" (click)="toggleShow()" class="eye-icon"><img [src]="passwordIcon" />
                  </a>
                  <app-control-message fieldName="{{'Password' | translate}}"
                    [control]="resetPasswordForm.controls['password']">
                  </app-control-message>
                </div>
                <div class="form-group" [ngClass]="{
                    'error-msg':
                      (cnfmpassword.dirty || cnfmpassword.touched) &&
                      cnfmpassword.errors
                  }">
                  <label for="email">
                    {{ 'Confirm New Password' | translate }}
                  </label>
                  <input type="password" class="form-control" placeholder="******" id="confpwd"
                    formControlName="cnfmpassword" autocomplete="off" />
                  <app-control-message fieldName="{{'Confirm Password' | translate}}"
                    [control]="resetPasswordForm.controls['cnfmpassword']">
                  </app-control-message>
                </div>
                <button type="submit" class="btn btn-primary">
                  {{ 'Reset Password' | translate }}
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="caregivers-inner col-md-6" *ngIf="showResetSuccess">
          <div class="left-block">
            <h2 class="text-center">{{ 'Congratulations!' | translate }}</h2>
            <p class="text-center">
              {{ 'Your password has been changed successfully.' | translate }}
            </p>
            <div class="reg-frm">
              <p class="text-center">
                <a href="javascript:void(0);" (click)="redirection()">
                  {{ 'LOGIN' | translate }}</a>
              </p>
            </div>
          </div>
        </div>
        <div class="right-image forgot-password"></div>
      </div>
    </div>
  </section>
</div>