<div class="main-content">
    <section class="caregivers-section register-frm thankyou">
        <div class="container">
            <div class="row">
                <div class="caregivers-inner col-md-12">
                    <div class="left-block">
                        <h2 class="text-center">{{'Thank you!' | translate}}</h2>
                        <p class="text-center">
                            {{'Your registration is completed! We will re-direct you to the main page and you can start booking caregivers!' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>