<ul>
    <li>
        (a)平台或應用程序 (www.purecare.com.hk)(以下簡稱平台)由Pure Care Hong Kong Limited（以下簡稱Pure Care)擁有和經營。Pure Care尊重個人資料，並致力實施和遵守“個人資料（私隱)條例”（第486章)的資料保護原則及所有相關條文（“以下簡稱私隱條例”)。本私隱政策適用Pure Care於平台以任何方法收集、使用及保存個人資料的客戶(包括帳戶使用者及受顧者)、護理員及其他人員。
    </li>
    <li>
        (b)任何於本台上護理和/或其他相關服務以下簡稱為服務。
    </li>
</ul>
<h5>收集，使用和持有的各種個人資料</h5>
<ul>
    <li>
        (a) 對於客戶，Pure Care收集，使用和持有包括但不限於姓名、性別、出生日期、電子郵件地址及電話。另外，對於受顧者，Pure Care收集，使用和持有包括但不限於住址，身體狀況，病史和所需服務資料。
    </li>
    <li>
        (b) 對於護理員，Pure Care收集，使用和持有包括但不限於姓名、職業、香港身份證號碼、性別、出生日期、電子郵件地址、電話、住址、工作經驗、僱傭合同、學歷、技能、費用和銀行賬戶資料。
    </li>
</ul>
<h5>個人資料的用途</h5>
<ul>
    <li>
        (a) 客戶和護理員可以根據意願向Pure Care提供個人資料。
    </li>
    <li>
        (b) Pure Care將從客戶和護理員處收集的個人資料作以下用途： -
        <ul>
            <li>
                (i) 識別和處理個人資料請求：驗證身份，以處理訪問，更正和刪除個人資料請求。
            </li>
            <li>
                (ii) 活動處理：客戶和護理員的登記; 客戶和護理人員的身份驗證以及服務配對;
            </li>
            <li>
                (iii) 提供服務（針對客戶)：通過平台將連接客戶與護理員，並通過平台提供客戶評級和反饋;
            </li>
            <li>
                (iv) 聯繫：Pure Care與客戶和護理員聯繫，提供服務和反饋;
            </li>
            <li>
                (v) 分享個人資料：
                    客戶: 與護理員分享個人資料
                    護理員: 與客戶分享個人資料以進行服務配對;
            </li>
            <li>
                (vi) 付款：在護理員提供服務後透過銀行帳戶號碼或支票或電話向護理員付款; 在客戶(介紹者)介紹其他客戶後向介紹者透過銀行帳戶號碼或電話付款*;
            </li>
            <li>(vii) 統計：進行統計和資料分析;</li>
            <li>
                (viii) 行政和管理：內部行政和管理，包括審計和分析;
            </li>
            <li>
                (ix) 直接促銷：Pure Care可以在尋求客戶和護理員的同意後，不時發送或聯繫客戶和護理員以分享促銷資料。
            </li>
        </ul>
    </li>
</ul>
<p>
    *客戶或護理員(推薦人)推薦一位護理員在平台上進行登記，並且所介紹的護理員會在前3次提供服務只收到正面評價。
</p>
<h5>保留個人資料</h5>
<ul>
    <li>
        (a)Pure Care將保留所有客戶和護理員的個人資料和服務記錄以滿足(i)收集個人資料用途和(ii)法律要求。
    </li>
    <li>
        (b)Pure Care存儲和維護Pure Care設施、伺服器和備份伺服器中的電子資料庫資料；這些設施、伺服器和備份伺服器中可能位於香港以外，其法律保護和安全標準要求可能與香港法律要求不同。客戶及護理員特此明確同意Pure Care在香港境外的電子資料庫，設施，伺服器和備用伺服器中傳輸，存儲，維護和保留閣下的所有資料，以達到第3條所述的用途。
    </li>
</ul>
<h5>個人資料準確性</h5>
<ul>
    <li>
        為了確保用戶個人資料正確，Pure Care可能會向客戶和護理員請求確認或驗證個人資料。
    </li>
</ul>
<h5>個人資料處理和安全措施</h5>
<ul>
    <li>
        (a)Pure Care收集有關客戶和護理員的個人資料不會於未經批准前向第三方披露。
    </li>
    <li>
        (b)護理員了解並同意你的推薦人根據被介紹護理員提供的服務獲得推薦獎金。 推薦獎金從Pure Care平台服務費中扣除。
        <ul>
            <li>
                (i)但是，你的推薦人不會通過該平台知道其他資料，例如客戶居住地址，所需的服務或的病歷。
            </li>
        </ul>
    </li>
    <li>
        (c)Pure Care已製定安全措施和監控程序，以防止未經授權或意外訪問、處理、刪除、遺失或使用資料。所有查閱資料的人員均需遵守資料保護的要求。
    </li>
    <li>
        (d)Pure Care的安全措施如下：
        <ul>
            <li>
                (i)要求密碼有一定複雜性，設有重試或更換功能以防止洩露密碼。
            </li>
            <li>
                (ii)只有經過嚴格私隱準則和程序培訓的人員才可查閱或處理閣下的個人資料。這些人員會對不遵守相關守則負責。
            </li>
            <li>(iii)定期審查安全系統。</li>
            <li>
                (iv)除法定要求外，Pure Care不會將任何個人資料轉讓或披露給第三方。
            </li>
        </ul>
    </li>
</ul>
<h5>責任限制</h5>
<ul>
    <li>
        Pure Care已實施所有合理可行的程序，措施和步驟，以保護客戶和護理員個人資料安全。然而，沒有通過互聯網傳輸方法或電子存儲方法是完全安全，Pure Care不能保證其安全性。除非是Pure Care疏忽，Pure Care不會因洩露或誤用閣下的個人資料而承擔任何責任。
    </li>
</ul>
<h5>第三方應用程序</h5>
<ul>
    <li>
        (a)在使用平台時，客戶、護理員和訪問平台的其他人可能轉往第三方應用程序(例如Facebook，Youtube或電子郵件應用程序)。由於應用程序並非由Pure Care擁有或經營，因此Pure Care對閣下提供和輸入和/或由第三方應用程序收集的資料或資料任何洩漏或遺失概不負責。由閣下提供和輸入和/或由此類應用程序收集的所有資料受到應用程序和/或其持有者和/或開發者的私隱政策約束。
    </li>
    <li>
        (b)提醒訪問此平台的客戶、護理員和其他人員，第三方應用程序可能不是完全安全，或者完全沒有任何安全威脅或攻擊風險，閣下需要自行承擔啟動任何第三方應用程序的風險。
    </li>
</ul>
<h5>Cookies</h5>
<ul>
    <li>
        Pure Care可能會使用“Cookies”來改善Pure Care的互聯網服務並增強閣下的在線體驗。 Cookie是一種小文件，會自動存儲在閣下電腦上的瀏覽器中，可由應用程序/網站檢索。當閣下訪問平台時，Cookie可用於記住閣下的偏好，並使Pure Care能夠根據閣下的需求制定應用程序/網站。 Cookies收集的資料是匿名訪客的個性化設置資料，不包含任何姓名或地址資料或任何資料，任何人都可以通過電話，電子郵件或第三方式與閣下聯繫。在使用Cookie時，Pure Care不會從客戶，護理員和訪問此平台的其他人收集任何個人資料。閣下可以通過更改瀏覽器的設置來禁用cookie。 Cookie不能用於運行程序或將病毒傳播到閣下的電腦。
    </li>
</ul>
<h5>本私隱政策的變更</h5>
<ul>
    <li>
        Pure Care可能會不時更新或修訂本私隱政策。修訂後的私隱政策將在Pure Care網站上公佈並生效。Pure Care鼓勵客戶，護理員和其他人不時訪問平台以獲取最新資料。
    </li>
</ul>
<h5>查閱、更改個人資料和聯繫Pure Care</h5>
<ul>
    <li>
        (a)根據私隱條例，客戶和護理員有權要求查閱或更改平台上的個人資料。如果閣下想行使這
        些權利，請登入或與Pure Care聯絡。
    </li>
    <li>
        (b) 如果閣下對Pure Care的私隱政策有任何意見(包括選擇退出直接促銷)，查詢或評論，請電郵至
        <a href="mailto:info@purecare.com.hk">info@purecare.com.hk</a>。 在一般情況下，閣下的請求或查詢將於14個工作日內處理。
    </li>
</ul>
<h5>生效日期</h5>
<p>本私隱政策自2019年8月31日起生效。</p>
<h5>語言</h5>
<p>
    如果本私隱政策的中英文版之間存在任何差異，以英文版為準。
</p>