<p>
  平台或應用程序(www.purecare.com.hk) (以下簡稱平台)是Pure Care Hong Kong Limited(以下簡稱Pure Care)聯繫帳戶用戶和/或受顧者(以下簡稱用戶)與護理員。Pure
  Care並不提供任何護理和/或其他相關服務(以下簡稱“服務”)，也並非任何護理員的僱主。
</p>
<p>
  <strong>- 同意書</strong>
</p>
<p>
  本人欲登記加入Pure Care的護理員名單。本人明白在Pure Care登記並不保證本人得到工作及符合本人意願之工作安排，該等安排須視乎客人或Pure Care之需要而定。
</p>
<p>
  <strong>- 税務細則：</strong>
</p>
<p>
  根據香港的税務要求，本人明白本人要盡自僱人士的責任，提供真實準確的資料。如本人於某課税年度之收入超過應課税之限額，則本人必須填妥報税單，申報本人於該課税年度之總收入，本人明白申報個人稅項全屬本人自己的責任，而並非Pure
  Care之責任。
</p>
<p>
  本人此確認（a）本人在此申請加入Pure Care有限公司之護理員名單，及接受Pure Care轉介的工作，並不構成本人與Pure
  Care之明確或隱含的僱主/僱員關係：（b）所有有關以下之事項及責任，例如入息税，公積金，強制性公積金，長期服務金，有薪年假及有薪病假等，均不涉及及本人與Pure Care之關係內，所有責任均須由本人承擔;（c）本人同意Pure
  Care保留此登記表格上的所有資料，直至本人對Pure Care發出書面通知，取消本人的登記，並妥為向Pure Care送達及獲Pure Care確認收到該通如的一個月後：（d）本人同意Pure Care可以向客戶或有可能成為Pure
  Care客戶的人士，公開本人在此登記表格上的個人資料(除了住址、銀行資料及本人可能不願公開的僱主資料)：（e）登記後，本人持有此同意書及條款細則各一份。
</p>
<h5>條款細則</h5>
<span><strong>1.服務</strong></span>
<ul>
  <li>
    (a) 我會按照協議內的條款細則，應Pure Care香港有限公司（下稱Pure Care）的要求，向Pure Care的客戶提供護理及/或其他有關服務（下稱服務）。
  </li>
  <li>
    (b)當我答應提供服務後，我會於最少3個工作天通知Pure Care我未能提供服務。如服務日子為3工作天內，我不能取消提供服務。不然，我明白Pure Care有權收取行政費及影響我在Pure
    Care的平台評分以及其他客戶與我預約服務的機會。
  </li>
  <li>
    (c)我會遵守及奉行所有Pure Care向我提出的合理指示。
  </li>
</ul>
<span><strong>2.個人</strong></span>
<ul>
  <li>
    (a)我明白我必須有效率地工作，保持清醒以及誠實行事。
  </li>
  <li>
    (b)我必須有禮及主動，並在任何時間均堤供以客為主的服務。
  </li>
  <li>
    (c)我不會是一個性格頑劣，品行不良或有暴力傾向的人。
  </li>
  <li>
    (d)提供服務期間，我必須遵行服務指引，穿著清潔及整齊的制服或服裝。
  </li>
  <li>
    (e)我明白工作滿8小時及12小時分別享有30分鐘及60分鐘進食時間。我會自行準備用餐但進食時間計算於服務時間內。
  </li>
</ul>
<span><strong>3.聲明</strong></span>
<ul>
  <li>
    (a)我完全明白協議內所有事項，包話服務性質，工作地點以及所有其他有關要求。我亦已取得在任何情況下所有有可能影響本協議的資料。
  </li>
  <li>
    (b)若因為我的疏忽或未能取得有關資料而影響提供的服務，我明白根據協議我須負上責任。
  </li>
</ul>
<span><strong>4.保證</strong></span>
<ul>
  <li>
    我向Pure Care保證；
  </li>
  <li>
    (i)我會在服務過程中利用我所有的經驗，技能，保持仔細及認真的態度，適時地進行及完成服務。
  </li>
  <li>
    (ii)我已具備提供服務所需的學歷，技能及經驗。
  </li>
  <li>
    (iii)我會全力投入服務，付出所需的時間、專注力及技能，並恰當地完成工作。
  </li>
  <li>
    (iv)我會遵行Pure Care的合理要求，並盡力維護Pure Care及客戶的利益。
  </li>
  <li>
    (v)我向Pure Care提供的所有與服務有關的資料及所作的聲明，均為真確無誤。
  </li>
  <li>
    (b)我再向Pure Care保證:
  </li>
  <li>
    (i)我有能力及權力承擔，執行及遵守在協議內列明我須承擔的責任。
    我已合乎所有執行本協議內所述責任所需的法律要求。
  </li>
  <li>
    (ii) 我已採取所有必要行動，以繼續提供服務，及執行協議中的責任。
  </li>
  <li>
    (iii) 我已從有照地區的政府，行政機關或其他機構/組織，取得所有提供服務及執行本協議內所述責任所需的授權、批核、同意、牌照，豁免以及其他所需要求。而這些授權、批核、同意、牌照、豁免以及其他所需要求，現在仍然有效。
  </li>
  <li>
    (iv) 我、我的物業、資產或收入在香港及該些物業、資產或收入的產生地的法例下，沒有以下事項的豁免權
  </li>
  <li>
    (iv.i) 法律行動或訴訟程序；
  </li>
  <li>
    (iv.ii)通過該等法律行動或訴訟程序獲得的濟助;
  </li>
  <li>
    (iv.iii)抵銷和反申索；
  </li>
  <li>
    (iv.iv)香港法庭的管報;
  </li>
  <li>
    (iv.v)法律程序文件的送達，判決前所頒或/及有助執行判決的扣押令；
  </li>
  <li>
    (iv.vi)在香港的法庭，或在簽署協議地點的法庭上，有關本協議中我須承擔貴任及義務所作出的判決，或其他法律或訴訟程序的判決。
  </li>
</ul>
<span><strong>5 .服務酬金</strong></span>
<ul>
  <li>
    (a)受限於協議中其他規定，在我依據本協議提供適時及適當的服務後，一筆根據我所收取的服務酬金減於Pure Care平台服務費(為我所收取的服務酬金的0-30%)將透過Pure Care支付予我。
  </li>
  <li>
    (b) 服務酬金包括我為提供服務所支付的所有資金，費用及支出。
  </li>
  <li>
    (c) 如我收到客戶投訴，Pure Care保留不支付服務酬主給我的權利，直至投訴解決為止。
  </li>
  <li>
    (d) 我明白Pure Care是代表我收取服務酬主的中介機構，若客戶因任何裡由拒絕支付服務酬金，Pure Care則無法向我支付服務酬金。如果Pure
    Care已預先向我支付客户的酬金，我應在客戶因任何理由拒絕支付服務酬金後，即時將已預先支付予我的款項退還給Pure Care。
  </li>
</ul>
<span><strong>6. 不經Pure Care而直接／間接服務顧客</strong></span>
<p>
  本人明白及同意，如本人有意不經Pure Care轉介而直接服務或間接服務（如：經其他中介公司服務）Pure Care介紹的顧客，須直接聯絡Pure
  Care，並支付一次性直接或間接服務費用。在未有支付一次性直接或間接服務費的情況下，私下接受Pure
  Care介紹的顧客以個人、公司或機構（包括其附屬公司或機構或其代表）名義聘用／雇用（不論最終雙方是否構成僱主／僱員關係），直接或間接提供服務，即屬違約。本人確認若然本人違反以上協議，將須向Pure Care賠償引致的所有損失及行政費。
</p>
<p>
  <strong>此項協議一直持續及有效，直至經Pure Care介紹的顧客選用護理員最後一天起計半年後。</strong>
</p>
<span><strong>7. 轉讓及外判</strong></span>
<p>
  我不會轉讓，外判或以任何其他方式將協議或其中任何部份轉讓或處置。執行協議內的條款是我的個人責任。
</p>
<span><strong>8. 提供資料給予Pure Care及聯絡方法</strong></span>
<ul>
  <li>
    (a) 提供資料給予Pure Care<br />
    <p>
      我明白所有提供Pure Care的個人資料(包括並不限於個人身份證、住址、學歷、合約/支薪單、技能及銀行帳戶號碼)均為正確及全面。我也明白如本人任何個人資料更新，本人會主動提供更新個人資料給予Pure Care。如Pure
      Care懷疑本人以任何形式欺騙Pure Care，我明白Pure Care有權不於任何通知情況下於其網上平台刪除本人帳戶及/或扣押服務酬金。
    </p>
  </li>
  <li>
    (b) 聯絡方法<br />
    <p>
      我同意Pure Care和客戶通過電話、電子郵件、WhatsApp、SMS或任何其他合理方式與我聯繫，令Pure
      Care可以聯繫客戶與照顧者。有關Pure Care使用資料守則，請參閱Pure Care的私隱政策。
    </p>
  </li>
</ul>
<span><strong>9. 極端天氣</strong></span>
<p>
  八號或以上颱風或黑色暴雨期間，服務將暫停。請與客戶重新安排服務。在客戶通知Pure Care新的日期和時間並且護理者完成服務後，Pure Care會向我付款。
</p>
<span><strong>10. 保險</strong></span>
<ul>
  <li>
    (a) 我明白Pure Care可在應支付給我或將支付給我的款項中，扣除Pure Care已支付的款項或取回欠款。
  </li>
  <li>
    (b)
    <strong>我明白Pure Care沒有為我購買任何保險。</strong>
  </li>
  <li>
    (c) 若由於執行協議引起任何傷亡，不論有否申索賠價，我或我的代表應在發生傷亡的七天內以書面通知Pure Care。
  </li>
</ul>
<span><strong>11. 免責聲明</strong></span>
<p>
  Pure Care，其員工及代表不須為以下情況承擔責任
</p>
<ul>
  <li>
    (a)因我提供服務而引起或導致客戶受傷或傷亡或；
  </li>
  <li>
    (b)我的傷亡或；
  </li>
  <li>
    (c)我的資產有任何損失。
  </li>
</ul>
<span><strong>12. 賠償</strong></span>
<p>
  在以下情况下，若我直接或間接引致Pure Care須負上責任，承擔損失或費用（包括所有面對訴松或索償而需支出的費用），我將會對Pure Care作出賠償：
</p>
<ul>
  <li>
    (a) 我的表現，或我達反協議的任何條款;
  </li>
  <li>
    (b) 我在提供服務中出現疏忽，魯莽，侵權行為或意行為不當：
  </li>
  <li>
    (c) 我不履行責任，未經批准作出的行為，或任何疏失;
  </li>
  <li>
    (d) 我在提供服務時，違反任何政府機構或當局的珼行法例、條例、指今或要求。
  </li>
</ul>
<span><strong>13. 私隱</strong></span>
<ul>
  <li>
    (a) 所有客戶資料必須保密，我不能從Pure Care發布任何可識別個人身份的數據，包括但不限於姓名或其他帳戶信息。
  </li>
  <li>
    (b)我承認違反上述規定可能導致重大損失，並且同意向Pure Care承擔責任。如果第三方因此索賠，我會對Pure Care進行賠償。 此外，如我濫用或懷疑濫用平台，
  </li>
  <li>
    Pure Care有權在不通知下終止我的帳戶和/或以法律行動尋求補償，包括但不限於平台損失收入、維修、法律費和其他費用。
  </li>
</ul>
<span><strong>14. 不存在合資，代理或僱主/僱員關係</strong></span>
<p>我了解我無權代表Pure Care與任何人及以任何方式簽下合同或承諾。 我理解並同意，如果Pure Care因此被索償，我將向Pure Care賠償，包括由此產生的任何利息或罰款。</p>
<span><strong>15. 使用本平台</strong></span>
<ul>
  <li>
    (a) 我同意遵守協議和所有適用的法律和法規。 我承認並同意本平台僅供我個人使用。 我保證不會濫用，企圖濫用或規避本平台，也不會將平台用於任何非法，不道德，不適當或非個人用途，包括但不限於黑客、抓取內容、滲透、欺詐、廣告、
    干擾或寄垃圾郵件。 我不會重建本平台與Pure Care競爭，也不會招攬或騷擾任何人，或出於本文任何未考慮的目的。Pure Care禁止我在本平台提供任何服務範圍之外的廣告或招攬。
  </li>
  <li>
    (b) 本平台是照 “原樣” 提供，沒有任何明示或暗示保證，包括但不限於適用性和不侵權保證。 Pure Care概不保證對所提供內容和與連結第三方網站內容的準確性或完整性，並且對內容任何錯誤不承擔任何責任。
  </li>
</ul>
<span><strong>16. 知識產權</strong></span>
<ul>
  <li>
    （a）根據香港特別行政區《版權條例》第528章（“條例”)，Pure Care擁有平台中所有專有材料，以及協調、選擇、安排和增強專有材料內容。專有材料受版權，專利以及其他專有權和法律的國內外法律保護。未經Pure
    Care事先明確書面同意，使用者不得複制、下載、使用、重新設計、配置或重新傳輸平台上任何內容。
  </li>
  <li>
    （b）本人了解Pure Care的政策是將個人數據保留到收到書面通知終止本條款和條件或法律要求的6個月後。根據《香港法例》（第486章）《個人資料（私隱）條例》，本人有權要求查閱及／或更正與在Pure
    Care登記有關個人資料。本人可以在登錄Pure Care網站後和聯繫Pure Care更改個人資料。
  </li>
</ul>
<!-- <p>
  根據《香港法例》（第486章）《個人資料（私隱）條例》，本人有權要求查閱及／或更正與在Pure
  Care登記有關個人資料。本人可以在登錄Pure Care網站後和聯繫Pure Care更改個人資料。
</p> -->
<p>
  本人完全理解服務Pure Care客戶時的責任。
</p>
<p>
  本人同意以上同意書及協議的條款和條件，並同意遵守所有適用的香港法律和法規以使用本平台。
</p>
<p>
  如中、英文兩個版本有任何抵觸或不相符之處，應以英文版本為準。
</p>