<section class="caregivers-section register-frm thankyou email-layout">
  <div class="container">
    <div class="row">
      <div class="caregivers-inner col-md-12">
        <div class="left-block">
          <h2 class="text-center">
            {{ 'Oops…the appointment is already taken by another caregiver. This happens!' | translate}}
          </h2>
          <p class="text-center">
            {{ 'No worries. We would contact you in future appointments!' | translate }}
          </p>
          <a href="javascript:void(0)" [routerLink]="['/']" class="btn">
            {{ 'Back to homepage' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>