<ul>
    <li>
        (a) The platform or applications (www.purecare.com.hk) (hereinafter
        referred as the platform) are owned and operated by Pure Care Hong
        Kong Limited (hereafter referred as Pure Care). Pure Care respects
        personal data and are committed to implementing and complying with the
        data protection principles and all relevant provisions of the Personal
        Data (Privacy) Ordinance, Cap. 486 (“the Ordinance”). This Policy is
        applicable to the client (including account user and service user) and
        the caregiver of the platform as well as any other persons that their
        personal data is collected, by whatever means, used and held by us.
    </li>
    <li>
        (b) Any nursing and/other related the service on the platform is
        hereafter referred as the service.
    </li>
</ul>
<h5>Kinds of Personal Data Collected, Used and Held</h5>
<ul>
    <li>
        (a) For the client, information including but not limited to name,
        gender, date of birth, email address and contact number will be
        collected, used and held by Pure Care. In addition, for the service
        user, information but not limited to residential address, physical
        conditions, medical history and the service required will be
        collected, used and held by Pure Care.
    </li>
    <li>
        (b) For the caregiver, information including but not limited to name,
        type of profession, HKID card number, gender, date of birth, email
        address, contact number, residential address, work experience,
        employment contracts, qualifications, skillset, charges and bank
        account details will be collected, used and held by Pure Care.
    </li>
</ul>
<h5>Purposes of the Personal Data are Held</h5>
<ul>
    <li>
        (a) The client and caregiver may provide us with your personal data at
        your own will.
    </li>
    <li>
        (b) The personal data collected from the client and caregiver will be
        used by Pure Care for the following purposes:-
        <ul>
            <li>
                (i) Identification and Handling of Personal Data Requests:
                verification of identity for handling requests of access,
                correction and erasure of personal data.
            </li>
            <li>
                (ii) Activity Handling: Registration of the client and caregiver;
                identity verification of the client and caregiver and reservation
                of the service;
            </li>
            <li>
                (iii) Provision of the service (for the client): Connection of the
                client with the caregiver through the platform, and the provision
                of ratings and feedback of the client through the platform;
            </li>
            <li>
                (iv) Contact: Contact by Pure Care with the client and caregiver
                for the provision the service; and feedback;
            </li>
            <li>
                (v) Share personal data: share personal data of the client with
                the caregiver and of the caregiver with the client for the
                provision of the service, or enable communication between the
                client and caregiver for the provision or acceptance of the
                service;
            </li>
            <li>
                (vi) Payment: Payment to the caregiver using bank account details
                or cheque or mobile number after the provision of the service and
                payment to the client or caregiver (the referrer) using bank
                account details or email address after referral*;
            </li>
            <li>(vii) Statistics: Carry out statistics and data analysis;</li>
            <li>
                (viii) Administration and Management: our internal administration
                and management, including auditing and internal analysis and
            </li>
            <li>
                (xi) Direct Promotions and Marketing: Pure Care may send or
                contact the client and caregiver from time to time to share
                promotional or marketing information after seeking the client’s
                and caregiver’s consent.
            </li>
        </ul>
    </li>
</ul>
<p>*Referral refers to the following circumstance:</p>
<p>
    The caregiver (the referrer) refers a caregiver to sign up on the
    platform and the referred caregiver provides the service and receives no
    negative feedback for the first 3 times.
</p>
<h5>Retention of Personal Data</h5>
<ul>
    <li>
        (a) Pure Care will retain all client and caregiver personal data and
        the service records so long as necessary for the fulfilment of (i) the
        purpose(s) for which they are collected and (ii) of the legal
        requirements.
    </li>
    <li>
        (b) Pure Care information and data are stored and maintained in our
        electronic database, facilities, servers and back-up servers which may
        be located outside Hong Kong, where the legal protection and standard
        of security requirements may not be equivalent to the same provided by
        and legally required by the applicable laws and regulations of Hong
        Kong. The client and caregiver hereby expressly consent on our
        transferring, storing, maintaining and retaining all your information
        and data in our electronic databases, facilitates, servers and back-up
        servers located outside Hong Kong for the purposes referred to in
        Clause 3.
    </li>
</ul>
<h5>Accuracy of Personal Data</h5>
<ul>
    <li>
        In order to ensure the correctness of the users’ personal data
        retained by Pure Care, the client and caregiver may receive our
        request of confirmation or verification.
    </li>
</ul>
<h5>Personal Data Handling and Security Measures</h5>
<ul>
    <li>
        (a) The personal data Pure Care collect about the client and caregiver
        will not be disclosed to any other party without your prior approval.
    </li>
    <li>
        (b) Caregiver acknowledges and consent that your referrer will receive
        referral bonuses based on the referred caregiver provision of service.
        The referral bonuses are deducted from Pure Care charges and/or
        caregiver charges.
        <ul>
            <li>
                (i) However, your referrer will not know other details such as
                residential address, the service required or medical history of
                the client through the platform.
            </li>
        </ul>
    </li>
    <li>
        (c) Pure Care have established in place security measures and
        monitoring procedures to prevent unauthorized or accidental access,
        processing, erasure, loss or use of the data. All personnel that may
        access to the data will be ensured complying with the requirements of
        data protection.
    </li>
    <li>
        (d) Our security measures are listed below:
        <ul>
            <li>
                (i) Controls on password complexity, re-tries or resets are
                implemented to prevent passwords from being compromised.
            </li>
            <li>
                (ii) Only the personnel who have been trained with strict privacy
                guidelines and procedures are authorized to access or handle your
                personal data. Such personnel are accountable for non-compliance
                with the related obligations.
            </li>
            <li>(iii) The security system will be reviewed regularly.</li>
            <li>
                (iv) Apart from statutory requirements, Pure Care will not
                transfer or disclose any of your personal data to any other
                parties.
            </li>
        </ul>
    </li>
</ul>
<h5>Limitation of Liability</h5>
<ul>
    <li>
        (a) Pure Care has implemented all reasonably practicable procedures,
        measures and steps to safeguard the security of the client and
        caregiver personal data. However, no method of transmission over the
        Internet, or method of electronic storage, is totally secure. Pure
        Care cannot guarantee its security and shall not accept any
        liabilities arising from any leakage or misuse of your personal data
        except this is because of our negligence.
    </li>
</ul>
<h5>Third-Party Applications</h5>
<ul>
    <li>
        (a) In the course of using this platform, the client, caregiver and
        others accessing this platform may be directed to launch third-party
        applications installed in your device (such as Facebook, Youtube or
        email applications). Since such applications are not owned or operated
        by us, Pure Care are not responsible for any exposure or leakage or
        loss of your information or data provided and input by your and/or
        collected by the third-party applications. All the data and
        information provided and input by you and/or collected by such
        applications will be subject to privacy policies of the applications
        and/or their owners and/or developers.
    </li>
    <li>
        (b) The client, caregiver and others accessing this platform are
        reminded that such third-party applications may not be completely safe
        or be absolutely free from any risks of security threat or attack, and
        that you are at your own risk to launch any third-party applications
        when using this platform.
    </li>
</ul>
<h5>Cookies</h5>
<ul>
    <li>
        (a) Pure Care may use “Cookies” to improve our internet service and
        enhance your online experience. Cookies are small file that are
        automatically stored on your web browser in your computer that can be
        retrieved by the App/Website. Cookies may be used to remember you and
        your preferences when you visit the platform and enable us to tailor
        the App/Website to your needs. The information collected by Cookies is
        anonymous visitor’s personalized settings information and contains no
        name or address information or any information that will enable anyone
        to contact you via telephone, email or any other means. Pure Care will
        not collect any personal data from the client, caregiver and others
        accessing this platform when the cookies are being used. You can
        disable cookies by changing the settings of your web browser. Cookies
        cannot be used to run programs or deliver viruses to your computer.
    </li>
</ul>
<h5>Changes in this Privacy Policy</h5>
<ul>
    <li>
        (a) Pure Care may update or amend this Privacy Policy from time to
        time. The revised Policy will be posted on our website with an
        effective date. The client, caregiver and others accessing this
        platform are encouraged to visit our website from time to time for the
        latest information.
    </li>
</ul>
<h5>Access to and Change of Personal Data and Contact Us</h5>
<ul>
    <li>
        (a) Under the Ordinance, the client and caregiver have a right to
        request access to, and to request correction of, your personal data in
        relation to your application. If you wish to exercise these rights,
        please login or contact us.
    </li>
    <li>
        (b) Should you have any requests (including Opt-out), enquiries or
        comments to our Privacy Policy or Practice, please email us at
        <a href="mailto:info@purecare.com.hk">info@purecare.com.hk</a>. In
        general circumstances, your requests or enquiries will be handled
        within 14 working days after receipt of the same and verification of
        your identity.
    </li>
</ul>
<h5>Effective Date</h5>
<p>This Privacy Policy becomes effective from 31 August 2019.</p>
<h5>Languages</h5>
<p>
    Should there be any differences or inconsistencies between the Chinese
    version and English version of this Policy, the English version shall
    prevail.
</p>