<div class="main-content">
    <!-- content area part -->
    <section class="faq-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ 'Frequently Asked Questions' | translate }}</h1>
            <div class="faq-main-block">
              <div class="line"></div>
              <div class="faq-main-inner">
                <div class="single-faq-block">
                  <h4>{{ 'Registration' | translate }}</h4>
                  <div data-aos-once="false" data-aos="fade-right" data-aos-offset="120">
                    <div class="single-faq left-faq">
                      <span class="number">1.</span>
                      <span class="circle"></span>
                      <div class="content-block">
                        <h3>
                          {{ 'What docs do I need to submit?' | translate }}
                        </h3>
                        <p>
                          {{ 'Please whatsapp or email us your HKID photo (only show first 4 digits), qualifications (see client Q2) and contract or payslip (you may hide salary figures). We would review your docs in 24 hours.' | translate}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div data-aos-once="false" data-aos="fade-left" data-aos-offset="120">
                    <div class="single-faq right-faq">
                      <span class="number">2.</span>
                      <span class="circle"></span>
                      <div class="content-block">
                        <h3>
                          {{ 'Do I need to attend an interview?' | translate }}
                        </h3>
                        <p>
                          {{ 'No need! Our registration is simple and easy.' | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="single-faq-block">
                  <h4>{{ 'Work' | translate }}</h4>
                  <div data-aos-once="false" data-aos="fade-right" data-aos-offset="120">
                    <div class="single-faq left-faq">
                      <span class="number">1.</span>
                      <span class="circle"></span>
                      <div class="content-block">
                        <h3>
                          {{ 'When would I have an appointment?' | translate }}
                        </h3>
                        <p>
                          {{ 'We strive to facilitate clients to our platform but in the meantime, it depends on your skillset, charges, availability, rating and review!' | translate}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div data-aos-once="false" data-aos="fade-left" data-aos-offset="120">
                    <div class="single-faq right-faq">
                      <span class="number">2.</span>
                      <span class="circle"></span>
                      <div class="content-block">
                        <h3>
                          {{ 'How do clients find me?' | translate }}
                        </h3>
                        <p>
                          {{ 'Your profile will display in the platform for the client to select.' | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div data-aos-once="false" data-aos="fade-left" data-aos-offset="120">
                    <div class="single-faq left-faq">
                      <span class="number">3.</span>
                      <span class="circle"></span>
                      <div class="content-block">
                        <h3>
                          {{ 'How do I accept or decline an appointment?' | translate }}
                        </h3>
                        <p>
                          {{ 'Once a client selects you, we would whatsapp and email you. In the email titled “Need Your Confirmation”, please scroll to the bottom to accept or decline the appointment.' | translate }}
                        </p>
                        <p>
                          {{ 'Appointment is on a first-come-first serve basis.' | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div data-aos-once="false" data-aos="fade-left" data-aos-offset="120">
                    <div class="single-faq right-faq">
                      <span class="number">4.</span>
                      <span class="circle"></span>
                      <div class="content-block">
                        <h3>
                          {{ 'When would I get paid after the appointment?' | translate }}
                        </h3>
                        <p>
                          {{ 'We would pay you within 24 hours via bank transfer or 3 calendar days via cheque, assuming there are no disputes. We pay 365 days.' | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div data-aos-once="false" data-aos="fade-left" data-aos-offset="120">
                    <div class="single-faq left-faq">
                      <span class="number">5.</span>
                      <span class="circle"></span>
                      <div class="content-block">
                        <h3>
                          {{ 'I have accepted the appointment but cannot come. What should I do?' | translate }}
                        </h3>
                        <p>
                          {{ 'Please whatsapp or email us immediately. The client would still give you a rating and review.' | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="single-faq-block">
                  <h4>{{ 'Update Info' | translate }}</h4>
                  <div data-aos-once="false" data-aos="fade-right" data-aos-offset="120">
                    <div class="single-faq left-faq">
                      <span class="number">1.</span>
                      <span class="circle"></span>
                      <div class="content-block">
                        <h3>
                          {{ 'How do I update availability and charges?' | translate }}
                        </h3>
                        <p>
                          {{ 'Please login and go to step 4 to update your availability and step 5 to update your charges.' | translate}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div data-aos-once="false" data-aos="fade-left" data-aos-offset="120">
                    <div class="single-faq right-faq">
                      <span class="number">2.</span>
                      <span class="circle"></span>
                      <div class="content-block">
                        <h3>
                          {{ 'How can I update education and work experience?' | translate }}
                        </h3>
                        <p>
                          {{ 'Please whatsapp or email your certificate(s) and/or contract(s) or payslip(s) to us; you may hide the salary figures. We would update the info in 24 hours.' | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>