# App
HOST=0.0.0.0
PORT=3001
NODE_ENV=development
APP_NAME=PureCareAPI
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false

# Auth
APP_KEY=<RANDOM APP_KEY FOR AUTH>
HASH_DRIVER=bcrypt

# Local Server
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=<DB_USER>   
DB_PASSWORD=<DB_PASSWORD>
DB_DATABASE=purecare-dev
DB_DEBUG=true


# Mail
MAIL_CONNECTION=smtp
SMTP_PORT=465
SMTP_HOST=smtp.gmail.com
MAIL_USER=<MAIL USER NAME>
MAIL_PASS=<MAIL PASSWORD>
EMAIL_FROM="Pure Care <info@purecare.com.hk>"
EMAIL_LOGGER=true
EMAIL_DEBUG=true

# Hours Duration
CLIENT_MINUTES=360
CAREGIVER_MINUTES=120

# Timezone
TIMEZONE="Asia/Hong_Kong"

# URLs
ACTIVATION_LINK=http://159.89.176.66:4200/auth/confirm-email
RESET_PASSWORD_LINK=http://159.89.176.66:4200/auth/reset-password
BOOKING_ACCEPT_BY_CG_LINK=http://159.89.176.66:4200/caregiver/booking/accept
BOOKING_REJECT_BY_CG_LINK=http://159.89.176.66:4200/caregiver/booking/reject
FEEDBACK_FORM_CLIENT=http://159.89.176.66:4200/client/feedback

# Chat API Whatsapp Credentials
INSTANCE_ID=<CHAT API INSTANCE_ID>
API_KEY=<CHAT API API_KEY>